src/frontEnd/SemanticCheckVisitor.java
src/frontEnd/SemanticException.java
src/frontEnd/SymbolTable.java
src/ast/assignLeft/AssignLeftNode.java
src/ast/assignLeft/ArrayElemAsLNode.java
src/ast/assignLeft/PairElemAsLNode.java
src/ast/assignLeft/IdentAsLNode.java
src/ast/parameter/ParamNode.java
src/ast/parameter/ParamListNode.java
src/ast/ProgramNode.java
src/ast/statement/FreeStatNode.java
src/ast/statement/IfStatNode.java
src/ast/statement/ReadStatNode.java
src/ast/statement/WhileStatNode.java
src/ast/statement/ExitStatNode.java
src/ast/statement/ReturnStatNode.java
src/ast/statement/SequentialStatNode.java
src/ast/statement/PrintlnStatNode.java
src/ast/statement/DeclareStatNode.java
src/ast/statement/ScopingStatNode.java
src/ast/statement/StatementNode.java
src/ast/statement/SkipStatNode.java
src/ast/statement/AssignStatNode.java
src/ast/statement/PrintStatNode.java
src/ast/assignRight/ArrayLiterAsRNode.java
src/ast/assignRight/CallAsRNode.java
src/ast/assignRight/PairElemAsRNode.java
src/ast/assignRight/NewPairAsRNode.java
src/ast/assignRight/ExprAsRNode.java
src/ast/assignRight/AssignRightNode.java
src/ast/assignRight/ArgListNode.java
src/ast/BinaryOpr.java
src/ast/ASTNode.java
src/ast/expression/PairLiterNode.java
src/ast/expression/BinaryOprNode.java
src/ast/expression/IntLiterNode.java
src/ast/expression/StringLiterNode.java
src/ast/expression/CharLiterNode.java
src/ast/expression/ArrayElemNode.java
src/ast/expression/BracketExprNode.java
src/ast/expression/ExpressionNode.java
src/ast/expression/IdentNode.java
src/ast/expression/UnaryOprNode.java
src/ast/expression/BoolLiterNode.java
src/ast/FunctionNode.java
src/ast/UnaryOpr.java
src/type/FunctionType.java
src/type/Type.java
src/type/StringType.java
src/type/ArrayType.java
src/type/CharType.java
src/type/StatementType.java
src/type/IntType.java
src/type/PairType.java
src/type/BoolType.java
src/antlr/BasicParserVisitor.java
src/antlr/BasicParser.java
src/antlr/BasicLexer.java
src/antlr/BasicParserBaseVisitor.java
